{% extends 'base.html.twig' %}

{% block body %}
<div id="fh5co-main">
    <div class="fh5co-gallery">
        <div class="col-lg-offset-1">
            <h1>Création d'un utilisateur</h1>

            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-success" value="Créer" />
            {{ form_end(form) }}

            <a href="{{ path('user_index') }}"><button class="btn btn-info">Retour à la liste</button></a>

        </div>
    </div>
</div>
{% endblock %}
